.icerikikon {
    display: inline-block;
}

.alintimage {
    height: 40px;
    width: 40px;
}

.evresim {
    height: 200px;
}

#mesaj {
    height: 7rem;
}

.trickicon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}